<div class="footer">
    <div class="footer-column left">
        <ul>
            <li>
                <a routerLink="/home">
                    <mat-icon>home</mat-icon> Inicio
                </a>
                <a routerLink="/basket">
                    <mat-icon>shopping_cart</mat-icon> Cesta
                </a>
            </li>
        </ul>
    </div>
    <div class="footer-column center">
        <p>Daniel Caldés García</p>
        <p>&copy; 2025. Todos los derechos reservados.</p>
    </div>
    <div class="footer-column right">
        <ul>
            <li>
                <a href="tel:1234567890">
                    <i class="fa-solid fa-phone"></i> 123-456-7890
                </a>
            </li>
            <li>
                <a href="mailto:shopNest@gmail.fake">
                    <i class="fa-solid fa-envelope"></i> shopNest&#64;gmail.fake
                </a>
            </li>
            <li>
                <a href="https://facebook.com" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
                    <i class="fab fa-facebook"></i> Facebook
                </a>
            </li>
            <li>
                <a href="https://x.com" target="_blank" rel="noopener noreferrer" aria-label="Twitter">
                    <i class="fab fa-twitter"></i> Twitter
                </a>
            </li>
        </ul>
    </div>
</div>
