<div class="tooltip-container">
  <a routerLink="/">
    <img src="assets/logo.svg" alt="Logo" class="logo"/>
  </a>

  <!-- Desktop view -->
   <div class="options" *ngIf="!isMobile">
    <button mat-icon-button class="shop-cart-button" (click)="basket()">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <button mat-icon-button class="login-button" (click)="login()" *ngIf="!isLoggedIn">
      <mat-icon>login</mat-icon>
    </button>
    <button mat-icon-button class="logout-button" (click)="logout()" *ngIf="isLoggedIn">
      <mat-icon>logout</mat-icon>
    </button>
   </div>
  

  <!-- Mobile view -->
  <div class="dropdown" *ngIf="isMobile">
    <button mat-icon-button class="menu-button" (click)="toggleMenu()"><mat-icon>menu</mat-icon></button>
    <ul *ngIf="isMenuOpen" class="menu-options">
        <li *ngIf="!isLoggedIn" (click)="login()">Login</li>
        <li *ngIf="isLoggedIn" (click)="logout()">Logout</li>
        <li (click)="basket()">Cart</li>
    </ul>
  </div>
</div>
