<form (ngSubmit)="onLoginSubmit()" #registerForm="ngForm" novalidate>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Email</mat-label>
    <input matInput
           type="email"
           name="email"
           [(ngModel)]="email"
           #emailModel="ngModel"
           required
           email />
    <mat-error *ngIf="emailModel.errors?.['required'] && emailModel.touched">
      El email es obligatorio
    </mat-error>
    <mat-error *ngIf="emailModel.errors?.['email'] && emailModel.touched">
      Introduce un email válido
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Contraseña</mat-label>
    <input matInput
           type="password"
           name="password"
           [(ngModel)]="password"
           #passwordModel="ngModel"
           required
           minlength="6" />
    <mat-error *ngIf="passwordModel.errors?.['required'] && passwordModel.touched">
      La contraseña es obligatoria
    </mat-error>
    <mat-error *ngIf="passwordModel.errors?.['minlength'] && passwordModel.touched">
      Mínimo 6 caracteres
    </mat-error>
  </mat-form-field>

  <button mat-flat-button color="primary" type="submit" [disabled]="registerForm.invalid">
    Continuar
  </button>

  <button mat-button color="primary" routerLink="/register">
    ¿No tienes cuenta? Regístrate
  </button>
</form>
