<form (ngSubmit)="onFormSubmit()" #registerForm="ngForm" novalidate>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Nombre</mat-label>
    <input matInput type="text" name="name" [(ngModel)]="name" required />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Apellido</mat-label>
    <input matInput type="text" name="surname" [(ngModel)]="surname" required />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Email</mat-label>
    <input matInput type="email" name="email" [(ngModel)]="email" required email />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Contraseña</mat-label>
    <input matInput type="password" name="password" [(ngModel)]="password" required minlength="6" />
  </mat-form-field>

  <button mat-flat-button color="primary" type="submit" [disabled]="registerForm.invalid">
    Continuar
  </button>
</form>
